/* Custom CSS by Garrett Estrin | Garrett.Estrin.com */

body {
  margin: -250px auto 0;
  width: 800px;
  background-image: url('./island.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  display: none;

}

.fixbodymargin {
    margin: -250px auto 0;
}

.message {
  height: 100px;
  font-size: 80px;
  text-align: center;
  display: inline-block;
  border: dashed 5px lightblue;
  margin: 10px 0 0 30px;
  text-shadow: 10px;
  /*color: lightyellow;*/
  -webkit-text-stroke: 1px white;
}



.messageLeft {
  width: 400px;
  height: 800px;
  background-color: transparent;;
  float: left;
  background-image: url('./beer.png');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  bottom: 750px;
  right: 440px;
  background-size: contain;

}

#board {
  width: 661px;
  height: 771px;
  background-color: transparent;
  border: solid yellow 10px;
  margin: 10px auto 0;
  border-radius: 10%;

}

.base {
background-image: url('./tiki.png');
background-repeat: no-repeat;
background-position: center;
background-color: transparent;;
height: 300px;
width: 100%;
clear: both;
position: relative;
bottom: 858px;
}

.row {
  background-color: yellow;
  height: 110px;
  margin: 0 auto;
}

.square {
  width: 100px;
  height: 100px;
  border: solid yellow 5px;
  float: left;
  border-radius: 50%;
  background-color: transparent;
}

.column {
  width: 110px;
  height: 765px;
  background-color: transparent;;
  float: left;
}

#column-a {
  width: 105px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
#audio {
  display: none;
}

#submessage {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.scoreboard {
  width: 400px;
  height:800px;
  background-image: url('./sign2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: right;
  display: inline-block;
  margin: 30px auto;
  position: relative;
  bottom: 710px;
  left: 430px;
}

.playerscore {
  font-size: 60px;
  color: black;
  width: 196px;
  display:inline-block;
  text-align: center;
  -webkit-text-stroke: 1px white;
  margin: 35px 5px 0 -30px;
  font-family: 'Indie Flower', cursive;
}


#blueScore {
color: blue;
}

#redScore {
color: red;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.instructions {
  width: 500px;
  height: 200px;
  border: solid 5px lightgrey;
  background-color: white;
  color: grey;
  position: absolute;
  top: 400px;
  left: 150px;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  text-align: center;

}
.hidden {
  display: none;
}
